<header>{{title}}</header>
<a href="/user/profile">Cancel and back to profile</a>

<form id="commentForm" action="/user/addcomment/{{id}}" method="POST">
    <label for="commentInput" name="commentInputLabel">Add Comment here</label>
    <input type="text" name="commentInput" id="commentInput" placeholder="add comment">
    <button type="add comment">add comment</button>

</form>