<a href="/user/profile">Cancel and back to profile</a>

<form  id='createPost' action="/user/createpost/{{id}}" method="POST">
    <label for="postTitleInput" id="postUpdateTitle">Post Title</label>
    <input type="text" id="postTitleInput" name='postTitle' placeholder="post title" value='' required>
    <br>
    <label for="postUrlInput" id="postUrlInputLabel">Link to work </label>
    <input type="url" name="postUrlInput" placeholder="https://example.com" id="postUrlInput" required>
    <br>
    <label for="postDescriptionInput" id="postDescripion">Description</label>
    <input type="text" id="postDescriptionInput" name='postDescriptionInput' placeholder="Describe the post" value='' required>
    <br>
    <label for="commentsAllowedCheckbox">Enable Comments</label>
    <input type="checkbox" id="commentsAllowedCheckbox" name="commentsAllowed" checked>

    <button type="submit">Create Post</button>
</form>