<h1>{{title}}</h1>

<p>Create New Account</p>

<form action="/user/signup" method="POST" id="signup-form">

        <label for="firstNameInput" id="firstNameLabel">First Name: </label>
        <input type="text" name="firstNameInput" id="firstNameInput" placeholder="Patrick" autocomplete="off"/>

        <label for="lastNameInput" id="lastNameLabel">Last Name: </label>
        <input type="text" name="lastNameInput" id="lastNameInput" placeholder="Hill" autocomplete="off"/>

        <label for="usernameInput" id="usernameLabel">Create Username: </label>
        <input type="text" name="usernameInput" id="usernameInput" placeholder="Patrick" autocomplete="off"/>

        <label for="dateInput" id="dateLabel">Date of Birth: </label>
        <input type="date" name="date" id="dateInput"/>

        <label for="createEmailAddressInput" id="CreateEmailLabel">Email: </label>
        <input type="email" name="createEmailAddressInput" id="createEmailAddressInput" placeholder="email" autocomplete="off"/><br>

        <label for="createPasswordInput" id="createPasswordLabel">Password: </label>
        <input type="password" name="createPasswordInput" id="createPasswordInput" placeholder="password" autocomplete="off"/>

        <label for="confirmPasswordInput" id="confirmPasswordLabel">Confirm Password: </label>
        <input type="password" name="confirmPasswordInput" id="confirmPasswordInput" placeholder="confirm password" autocomplete="off"/>

        <button type="submit">Create Account</button>
    </form>
    <a href="/">Back home</a>
    <div id="error" class="error">{{error}}</div>
    <script src="../../public/js/clientValidation.js"></script>