
html {
    background-color: aliceblue;
    border: 1cm;
    border-width: 15px;
    border-style: groove;
    border-color:slategray;
}

.portfolio {
    background-color: lightgray;
}

.profile {
    border-bottom: 5px;
    border-color:rgb(0, 45, 90);
    border-style: double;
}

button:hover {
    background-color: black;
    color: azure;
    outline-color: rgb(255, 255, 255);
    outline-width: 1px;
    outline-style: ridge;
    cursor:pointer;
}
.editPortPosts{
    display:flex;
    outline-color:1px;
    outline-style:ridge;
    flex-direction: row;
    justify-content: space-around;
    background-color: aqua;
}

img {
    border-color: crimson;
    border-width: 5px;
    border-style: dotted double;
}

form {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(203, 203, 243);
}

input:focus {
    background-color: rgb(174, 255, 174);
    outline-color: yellow;
    outline-width: 1px;
    outline-style: ridge;
}

p {
    background-color: black;
    color: #e6edf1;
}

label {
    background-color: rgb(255, 189, 189);
    color: #006ead;
}

div {
    color: #223038;
}

h1 {
    border-color: rgb(42, 0, 231);
    border-style: dotted double;
    border-bottom: 1px;
}

header {
    border-color: rgb(42, 0, 231);
    border-style: dashed;
    border-bottom: 1px;
}

.error {
    background-color: rgb(255, 0, 0);
}

.created {
    background-color: aquamarine;
}